<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="btest" class="com.test1.B" scope="prototype"/>
    <bean id="ctest" class="com.test1.C" scope="prototype"/>

    <bean id="atest" class="com.test1.A" init-method="init" scope="prototype">
      <property name="b">
          <bean class="com.test1.B"/>
      </property>
        <property name="c">
            <bean class="com.test1.C"/>
        </property>
        <constructor-arg  ref="btest"/>
        <constructor-arg  ref="ctest"/>
    </bean>
</beans>