<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--原来的方法-->
<!--
<bean id="dataSource" class="inject.namespace.MyDataSource">
    <property name="url" value="url"/>
    <property name="username" value="root"/>
    <property name="password" value="pwd"/>
</bean>
    <bean id="factory" class="inject.namespace.MySqlFactory">
        <constructor-arg ref="dataSource"/>
    </bean>
-->

    <bean id="dataSource" class="inject.namespace.MyDataSource"
         p:url="url" p:username="sa">
        <property name="password" >
            <value>pwd</value>
        </property>
    </bean>

    <bean id="factory" class="inject.namespace.MySqlFactory"
          p:dataSource-ref="dataSource"
          c:_0-ref="dataSource"/>


</beans>